@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    }
    body {
    	margin: 3%;
    	padding: 0;
    	background-color: #403d39;
        color: #252422;
    	font-family: 'Inter', sans-serif;
    }
    .container {
    	background-color: #fffcf2;
    	width: 90%;
    	padding: 4%;
    }
    nav {
    	height: 80px;
    	width: 100%;
    	background-color: #ccc5b9;
    }
    label.logo {
    	font-size: 1.5rem;
    	font-weight: bold;
    	color: #403d39;
    	padding: 0 5%;
    	line-height: 5rem;
    }
    nav ul {
    	float: right;
    	margin-right: 3%; 
    }
    nav li {
    	display: inline-block;
    	margin: 0;
    	line-height: 4rem;
    }
    nav a {
    	color: #403d39;
    	font-size: .875rem;
    	border: 1px solid transparent;
    }
    a.active, a:hover {
    	background: #eb5e28;
    	transition: .5s;
    }
    nav #icon {
    	color: #403d39;
    	font-size: 1.5625rem;
    	line-height: 4rem;
    	float: right;
    	margin-right: 3%;
    	cursor: pointer;
    	display: none;
    }
    @media screen and (max-width: 1048px) {
    	label.logo {
    		font-size: 2rem;
    		padding-left: 6%;
    	}
    	nav ul {
    		margin-right: 2%;
    	}
    	nav a {
    		font-size:1.0625rem;
    	}
    } 
    nav+h1 {
    	line-height: 2.5rem;
    	margin-top: 2%;
        font-size: 1.75rem;
        color: #403d39;
        padding: 3% 0 3% 0;
    }
    img+p {
        padding: 2% 0 3% 0;
        width: 80%;
        line-height: 1.25rem;
    }
    em {
    	color: #eb5e28;
    	font-style: normal;
    }
    h2 {
        font-size: 1.75rem;
        padding: 3% 0 3% 0;
    }
    h2+p {
        line-height: 1.5rem;
        font-size: .875rem;
    }
    .accordion {
        cursor: pointer;
    }
    .accordion:hover h2 {
        color:#eb5e28;
    }
    .accordion:active {
        color:#403d39;
    }
    .accordion p {
        display: none;
        line-height: 1.25rem;
        padding: 2% 8% 4% 0;
    }
    table {
        background-color: #fffcf2;
    }
    td {
        font-size: .875rem;
        text-align: center;
        padding: 5%;
        border: 1.5px solid #eb5e28;
    }
    td+td {
        text-align: left;
        line-height: 1.125rem;
    }
    footer {
    	background-color: #ccc5b9;
    	width: 100%;
    	min-height: 500px;
        margin-top: 2%;
    }
    /*contact form css starts here*/
    main h1 {
    	font-size: 1.5rem;
    	padding: 5% 0 5% 0;
    	width: 100%;
    }
    main h1 span {
    	color: #eb5e28;
    }
    form {
	width:100%;
	margin: 3% 0 3% 0;
	}
	fieldset {
	width:100%;
    border-radius: 13px;
    border: solid 1px #000;
    padding: 4%;
	}
	.label {
		text-align: left;
		display: block;
	}
	#message {
		width: 100%;
	}
/*border: blue 1px solid;*/
/*       -webkit-box-shadow: 0 0 10px #777777;
    	box-shadow: 0 0 10px #777777;*/

    